@import url(http://fonts.googleapis.com/css?family=Nunito);

span {
	font-family: 'Nunito', sans-serif;
}
h1 {
	font-family: 'Nunito', sans-serif;
}
.text-center {
	text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.font-style-nil {
	text-decoration: none;
	color: inherit;
}
.border-grey {
	border: solid 1px #C0C0C0;
}
.border-bottom-grey {
	border-bottom: solid 1px #C0C0C0;
}
.email {
  color: #D3D3D3;
}
.round-corners {
	border-radius: 2px;
}
.margin-top-1 {
	margin-top: 1px;
}
.big {
	font-size: 4em;
}
.green {
	color: #01bf01;
}
.share-grey {
	color: #666666;
}
.selected-contact {
	background-color: #808080;
	color: #FFFFF0;
}
.red {
	color: #FF0000;
}
.github:hover{
	text-decoration: underline;
}